.breadcrumbsBar ol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: nowrap;
}

.breadcrumbsBar ol .separatorIcon {
  flex-shrink: 0;
}

ol li{
  list-style: none;
}

