@import "../../../styles/typography";

.menu {
  margin: auto;
  padding: var(--spacing-small) var(--spacing-xs);
  position: relative;
}

.menu:focus {
  outline: none;
}

.small {
  width: 200px;
}

.medium {
  width: 220px;
}

.large {
  width: 240px;
}
