.galleryHeader {
    margin: 0 var(--spacing-small);
    display: flex;
    align-items: center;

    .galleryHeaderDot {
        margin: 0 var(--spacing-xs);

        &:last-child {
            margin-right: 0;
        }
    }
}

.flexStyles {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    align-items: center;

    &:first-child {
        align-items: flex-start;
    }

    &:last-child {
        align-items: flex-end;

        div {
            &:last-child {
                margin-right: 12px;
            }
        }
    }
}