.flexContainer {
  display: flex;
  align-items: center !important; 
  justify-content: flex-start !important;
  gap: var(--spacing-medium);
  margin-left: var(--spacing-xs);
  font: var(--font-text2-normal);
}
