@import "~monday-ui-style/dist/mixins";

.toggle {
  @include reset-button();
  transition: background-color var(--motion-productive-medium) var(--motion-timing-transition);
  margin: 0 var(--spacing-small);
  position: relative;
  height: 20px;
  width: 32px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  border-radius: var(--border-radius-small) !important;

  &::after {
    background-color: var(--primary-background-color);
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: var(--border-radius-small) !important;
    top: calc(50% - 15px / 2);
    transition: left var(--motion-productive-medium) var(--motion-timing-transition);
  }

  &.selected {
    background-color: var(--surface-alt);
    &::after {
      left: 15px;
    }
  }

  &.notSelected {
    background-color: var(--ui-border-color);
    &::after {
      left: 3px;
    }
  }

  &.disabled {
    opacity: var(--disabled-component-opacity);
    cursor: not-allowed;
  }
}

.selected.colorPrimary {
  background-color: var(--primary-color) !important;
}

.selected.colorSuccess {
  background-color: var(--background-greenbold) !important;
}

.selected.colorWarning {
  background-color: var(--background-orangebold) !important;
}
